body{
  margin: 0;
  min-height: 100vh;
  padding: 0;
  background: linear-gradient( rgb(0, 0, 0) 40%,rgb(9, 40, 100) 100%);
  background-attachment: fixed;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.mp3_ap{
  display: flex;
  flex-direction: row;
  margin: 30px;
  padding: auto;
  box-sizing: border-box;
  
}
.MP3{
  width: 10%;
  height: 50%;
  display: flex;
  align-self: center;
  justify-content: center;
  color: aliceblue;
  background-image:linear-gradient(#02166efd 40%, #26578b 100%);
  border-radius: 30px;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}

.mp3__ap-izq{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 650px;
  align-items: center;
  padding: 30px;
  margin: 25px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: 1px 1px 5px 5px rgba(92, 92, 92, 0.2);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
}
.art{
  display: flex;
  flex-direction: column;
}
.art__cover{
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
  filter: drop-shadow(5px 5px 10px rgb(29, 166, 230));
  margin: 5px;
  display: block;
}

/*Titulos/Artista*/
.controls__title {
  align-self: center;
  color: azure;
  margin: 1px;
  margin-top: 10px;
}
.controls__artist{
  align-self: center;
  color: azure;
  margin-bottom: -20px;

}
/*Botones*/
.controls{
  display: flex;
  flex-direction: column ;
  gap: 20px;
}
.controls__actions{
  align-self: center;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -10px;
}
.controls__btn{
  background-color: #354db9; 
  color: white;
  border: none; 
  border-radius: 50%; 
  width: 40px;
  height: 40px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.controls__btn--play{
  width: 50px;
  height: 50px;
  background-color: #354db9; 
  font-size: 1.5rem;
}
.controls__btn--play:hover{
    transform: scale(1.1);
}
.controls__btn:hover{
  background-color: azure;
  color: rgb(25, 54, 185);
}
.controls__btn:active{
  transform: scale(0.9);
}

/* BARRAS DE SONIDO Y PROGRESO*/
.art__progress-container{
  position: relative;
  width: 300px;
  height: 7px;
  background: rgb(150, 150, 150);
  border-radius: 5px;
  cursor: pointer;
}
.art__progress-bar{
  position: relative;
  width: 0%;
  height: 100%;
  background: rgb(255, 255, 255);
  border-radius: 5px;
}
.art__progress-container:hover .art__progress-bar{
  background:rgb(52, 152, 219);
}
.art__progress-thumb{
  position: absolute;
  right: 0;
  top: 50%;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  transform: translate(50%, -50%);
  opacity: 0;
  transition: opacity 0.2s;
}
.art__progress-container:hover .art__progress-thumb{
opacity: 1;
}

.art__time-info{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color:white;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.controls__volume{
  align-self: center;

}
.controls__volume-slider{
  cursor: pointer;
}

/*PLAYLIST*/
.playlist{
  width: 600px;
  height: 650px;
  color: white;
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 1px 1px 5px 5px rgba(92, 92, 92, 0.2);
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  padding: 30px;
  margin: 25px;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  overflow-y: auto;
}

.playlist__list li{
    list-style: none;
    padding: 8px;
    cursor: pointer;
    margin: 10px;
    position: relative;
    align-self: center;
}
.playlist__list li:active{
  color: #5fa4ee;
  font-weight: bold;
}
.playlist__list li::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px; 
  background-color: #5fa4ee; 
  transform: scaleX(0); 
  transform-origin: right; 
  transition: transform 0.3s ease-in-out; 
}
.playlist__list li:hover::after{
  transform: scaleX(1); 
  transform-origin: left; 
}
.playlist__list li:hover{
  background: rgb(88, 88, 88);
}
.playlist__search {
  width: 300px;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #5fa4ee;
  outline: none;
  background: transparent;
  font-size: 14px;
  color: azure;
  align-self: center;
}

.playlist__list li.hidden {
  display: none;
}